<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Table</title>
    <script src="https://kit.fontawesome.com/6926c4a9ef.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/shopTable.css">
</head>

<body>

    <main class="main">

        <%- include('sellerNavbar.ejs') %>

        <form action="/shop/update-info" id="updateForm" method="post" enctype="multipart/form-data">
            <div class="data-wrapper2">
                <div class="left">
                    <div class="image-container">
                      
                        <img id="uploadedImage" src="./../../images/upload-image.png" alt="Upload image">
                        
                        <div class="uploadBtn">
                            <span class="upload-button" onclick="document.getElementById('file-input').click();">Upload
                                a file</span>
                            <input type="file" id="file-input" hidden name="shopLogo"  onchange="showUploadedImage(event)">
                        </div>

                    </div>
                </div>
                <div class="right">
                    <h2 class="h2update-info">Update shop information</h2>

                    <div class="sub-right">
                        <label for="">Shop Name:</label>
                        <input type="text" name="name"  value='<%= data.shopname %>'>
                    </div>
                    <div class="sub-right">
                        <label for="">Address:</label>
                        <input type="text" name="add" value='<%= data.address %>'>
                    </div>
                    <div class="sub-right">
                        <label for="">Email:</label>
                        <input type="text" name="email" value='<%= data.email %>'>
                    </div>

                </div>
                    <div class="button-wrapper">
                        <button type="button" class="cancelBtn-menu" onclick="location.href='/dashboard_seller'">Back</button>
                        <button type="submit" class="saveBtn-menu">Save</button>
                    </div>
            </div>
        </form>

            



            <div>

            </div>

    </main>
    <script> 
    
    // 
    document.getElementById('updateForm').onsubmit = async function(event) {
    event.preventDefault(); // Prevent the default form submission

    const formData = new FormData(this);
    console.log("Form details: ", formData)

    try {
        const response = await fetch(this.action, {
            method: this.method,
            body: formData
        });

        const result = await response.json();

        if (response.ok) {
            alert('Information updated successfully');
            window.location.href = result.redirectUrl;
        } else {
            alert('Failed to update information: ' + result.error);
        }
    } catch (error) {
        alert('An unexpected error occurred: ' + error.message);
    }
};
    
    // foor showing the uploaded image
    function showUploadedImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('uploadedImage').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
        
    </script>

</body>

</html>