@import url('/css/sellerMain.css');

:root {
    --main-bg: #FBAB7E;
    --primary: #d10000;
    --background-bg: linear-gradient(62deg, #fbac7eb4 0%, #f7cf68d5 100%);
}

.data-wrapper1{
    width: 90%;
    height: 95%;
    background-color: #E9E9E9;
    display: flex;
    position: absolute;
    top: 47%;
    flex-direction: column;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    gap:10px;
    overflow: hidden;
}


.data-table {
    width: 100%;
    max-width: 100%; /* Ensures it doesn't overflow */
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}




.data-table table {
    width: 100%;
    border-collapse: collapse; /* Ensures table borders are collapsed */
  
}

.data-table table thead {
    font-size: 20px;
}



/* Optional: Additional styling for the table */
.data-table table th, .data-table table td {
    padding: 10px;

    text-align: center;
  
}

.data-table table td {
    padding-top: 30px;
    font-size: 18px;
}
#data-table2 table td {
  
    border-bottom: none !important;
}
.imageMenu img{
    width: 80px;
    height: 80px;
}
.actionBtn button{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.actionBtn button:hover, .uploadBtn:hover{
    transform: scale(1.05);
}
.addmenuBtn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--main-bg);
    width: 201px;
    align-self: center;
    text-align: center;
    padding-block: 8px;
    border-radius: 50px;
}


.addmenuBtn i{
    font-size: 30px;
    color: #d10000;
}

.data-wrapper2{
    width: 90%;
    height: 90%;
    margin-top: 20px;
    display: flex;
    position: absolute;
    top: 50%;
    background-color: #F4E1DB;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
}
.left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.image-container{
    width: 90%;
    max-width: 320px;
    height: 80%;
    padding: 20px;
    background-color: #F6F6F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width: clamp(100px, 25vw, 240px);
    height: clamp(150px, 25vw, 250px);
    border-radius: 10px;
}

.upload-button{
    font-size: clamp(15px, 1vw, 22px);
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: clamp(5px, 1vw, 15px);
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: flex;
}
.uploadBtn{
    margin-top: 55px;
    cursor: pointer;
    margin-bottom: 20px;
}

.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 44%;
}
.sub-right{
    width: 100%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sub-right label{
    font-size: 16px;
    font-weight: bold;
    width: 40%; 
}
.sub-right input{
    width: 350px;
    height: 20px;
    margin-left: 15px;
    border: none;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    /* width: 80%; */
    /* margin-top: 250px; */
    gap: clamp(5px, 2vw, 20px);
}
.button-wrapper button{
    padding-inline: clamp(5px, 4vw, 39px) !important;
    width: 100%;
    max-width: 170px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
}

.cancelBtn-menu {
    border: 1px solid var(--primary);
    
}

.saveBtn-menu {
    background-image: var(--background-bg);
    border: none;
    box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 851px) {
 .actionBtn button{
    width: 90%;
    display: flex;
    justify-content: center;
 }
}

@media (max-width: 531px) {
    .data-wrapper2 {
        flex-wrap: nowrap;
        align-items: center;
        gap: 20px
    }

    .uploadBtn {
        font-size: 11px;
        background-color: #d9d9d9;
        border-radius: 10px;
        padding: 11px;
        font-weight: bold;
    }
}
