<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="https://kit.fontawesome.com/6926c4a9ef.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://kit.fontawesome.com/6926c4a9ef.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" />
  <title>About</title>
  <link rel="stylesheet" href="/css/about.css">

</head>

<body>

  <main class="main">
     <!-- Include the sidebar -->
     <%- include('navbar.ejs') %>

    <div class="data-wrapper1">

      <div class="modal">

      
<h1>ABOUT</h1>
        <p>Welcome to FoodPay, your ultimate destination for convenient and delicious food ordering! At FoodPay, we're passionate about connecting food lovers with their favorite restaurants, offering a seamless and hassle-free experience with every order.</p>
<h2>Our Mission:</h2>
<p>
    Our mission at FoodPay is simple: to revolutionize the way you order food. We aim to provide a platform that not only offers a wide variety of cuisines but also prioritizes convenience, affordability, and exceptional customer service.
</p>
<h2>Our Story</h2>
<p>Founded with a passion for food and technology, FoodPay was born out of the desire to simplify the food ordering process for both customers and restaurants alike. Our team is dedicated to constantly innovating and improving our platform to provide you with the best possible experience.
    <br>
    <br>
    Thank you for choosing FoodPay, where ordering your favorite meals is as easy as a click of a button!
</p>
      </div>

    
    </div>

  </main>



</body>

</html>