<nav class="nav-header">
    <div class="nav-header__left-details">
      <img src="/img/logo.png" class="logo-details__img nav-header__left-details--icon"
        id="burder-menu-btn">

    </div>

    <div class="nav-header__right-details">
      <a href="/bufpay-home" class="nav-header__right-details--updateinfo">Home</a>
      <a href="/bufpay-user/cart" class="nav-header__right-details--updateinfo">Cart</a>
      <a href="/bufpay-user/order" class="nav-header__right-details--updateinfo">Order</a>
      <a href="/bufpay-user/about" class="nav-header__right-details--updateinfo">About</a>
      <a href="/logout" id="signingout" class="nav-header__right-details--logout">Logout</a>
    </div>
  </nav>